.head-color {
  background: #1347f3;
}

.navbar-toggler {
  color: white !important;
  border: none !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.efecto-espejo {
  -webkit-box-reflect: below -25px -webkit-gradient(linear,
      left top,
      left bottom,
      from(transparent),
      to(rgba(255, 255, 255, 0.5)));
}

.fuente {
  font-family: "Open Sans", sans-serif;
}

.fondo-cards {
  background-color: #1e2030 !important;
}

.sombra {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.57);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.57);
}

.bg-part2 {
  background-image: linear-gradient(to bottom,
      #9e9fb3,
      #a4a7b8,
      #aaaebd,
      #b1b6c2,
      #b8bdc7,
      #c0c5cd,
      #c9cdd3,
      #d2d5d9,
      #dedfe2,
      #e9eaec,
      #f4f4f5,
      #ffffff);
}
